.containerCardContainer {
    display: block;
}

.contenedorCardIce {
    transition: box-shadow 0.4s ease;
    height: 234px;
    width: 200px;
    font-family: monospace;
    font-size: 16px;
    text-shadow: 0.1px 0.1px 0.4rem rgb(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.735);
    padding-top: 2px;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-textura-hielo-congelado_37787-2289.jpg?w=2000');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 0.6rem black;
    user-select: none;
    margin-top: 40px;
    outline: none
}

.contenedorCardCold {
    transition: box-shadow 0.4s ease;
    height: 234px;
    width: 200px;
    font-family: monospace;
    font-size: 16px;
    text-shadow: 0.1px 0.1px 0.4rem rgb(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.735);

    padding-top: 2px;
    background-image: url('https://ak.picdn.net/shutterstock/videos/16278475/thumb/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 0.6rem black;
    user-select: none;
    margin-top: 40px;
}

.contenedorCardSprint {
    transition: box-shadow 0.4s ease;
    height: 234px;
    width: 200px;
    font-family: monospace;
    font-size: 16px;
    text-shadow: 0.1px 0.1px 0.4rem rgb(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.735);

    padding-top: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190628/ourmid/pngtree-green-nature-background-texture-image_264197.jpg');
    box-shadow: 1px 1px 0.6rem black;
    user-select: none;
    margin-top: 40px;
}

.contenedorCardSummer {
    transition: box-shadow 0.4s ease;
    height: 234px;
    width: 200px;
    font-family: monospace;
    font-size: 16px;
    text-shadow: 0.1px 0.1px 0.4rem rgb(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.735);

    padding-top: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://static8.depositphotos.com/1029215/946/v/600/depositphotos_9461020-stock-illustration-vibrant-hot-summer-sun-with.jpg');
    box-shadow: 1px 1px 0.6rem black;
    user-select: none;
    margin-top: 40px;
}

.contenedorCardIce:hover {
    -webkit-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
}

.contenedorCardCold:hover {
    -webkit-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
}

.contenedorCardSprint:hover {
    -webkit-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
}

.contenedorCardSummer:hover {
    -webkit-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 26px 26px 38px -9px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
}

.contenedorTexto {
    position: relative;
}

.ciudad {
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.openButton {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 40px;
    outline: none
}

.openButton:hover {
    transform: rotate(90deg);
    transition: all 0.15s ease-in-out 0s;
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none
}

.openButton:active {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0);
}

.climas {
    margin-top: 35px;
    color: rgb(0, 0, 0);
    width: 100%;
    background-color: rgba(7, 13, 121, 0.19);
}

.xContainer {
    position: relative;
    /* width: 100%; */
    /* margin-right: 2px; */
    /* display: flex; */
    /* justify-content: flex-end; */
}

.x {
    position: absolute;
    right: 2px;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0);
    background-image: url('../assets/delete.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    z-index: 20;
}

.x:hover {
    transform: scale(1.1);
    transition: all 0.15s ease-in-out 0s;
}

.imagenClima {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}


@media (max-width: 600px) {
    .contenedorCard {
        margin: 5px;
    }
}